<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  <title>{% block title %} {% endblock %}</title>
  {% block includes %}
  {% endblock %}
</head>

<body>
  <header>
    <nav class="navbar navbar-fixed-top navbar-inverse btm-shadow">
      <div class="l-line logout"></div>
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Catalog Application</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-right" method="post" action="{{url_for('HomePage')}}">
            <div class="input-group search">
              <input type="text" class="form-control" placeholder="Search for..." name="search">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </span>
            </div>
            <!-- /input-group -->
            {% if validuser is defined and validuser %}
              <a class="btn btn-danger pull-right" href="{{url_for('gdisconnect')}}">Logout</a>
              <div class="pull-right profile-name">
                {{username}}
              </div>
              <img class="pull-right profile-pic-small profile-pic" src="{{userphoto}}" alt="{{username}}">
            {% else %}
              <a class="btn btn-danger pull-right" href="{{url_for('login')}}">Login</a>
            {% endif %}
          </form>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>
  <main class="container">
    <div class = 'flash'>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{category}} alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>{{message}}</strong>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
    </div>
    {% block content %}
    {% endblock %}
  </main>
  <footer class="container-fluid">
    <div class="col-lg-4 col-lg-offset-4 well well-sm foot">
      <a href="{{url_for('developerPage')}}">Developers go here..</a>
    </div>
  </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
$("div.alert").on("click", "button.close", function() {
  $(this).parent().animate({opacity: 0}, 500).hide('slow');
});
</script>
{% block scripts %}{% endblock %}
</html>
