<!DOCTYPE html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <title>Edit Item</title>
</head>
<body>
    <div class="pane">
        <h1>Edit item!!</h1>
        <form method="post" action="{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=item.id)}}">
            Name: <input type="text" name="name" placeholder="{{item.name}}"/> <br /><br />
            Description: <input type="text" name="desc" placeholder="{{item.description}}"/> <br /><br />
            Price: <input type="text" name="price" placeholder="{{item.price}}"/> <br /><br />
            <br />
            <input type="Submit" value="Submit" />
            <a href="{{url_for('restaurantMenu', restaurant_id=restaurant_id)}}">Cancel</a>
        </form>
    </div>
</body>
